.itinerary__outerdiv{
  margin-top: 80px;
  text-align: center;
  /* margin-right: 280px; */
  width: 70%;
}

.itinerary__day{
  margin-top: 30px;
}

.itinerary__content{
  margin-top: 80px;
  align-items: center;
  justify-content: center;
}

.itinerary__icons{
  color: gray;
}

.itinerary__card{
  margin-left: 35%;
}

.itinerary__map{
  width: 50%;
}

.itinerary__addmember{
  /* float: right; */
  right: 0;
  /* position: fixed; */
}