.plan__title{
  padding-top: 50px;
  text-align: center;
  margin-top: 80px;
  padding-bottom: 10px;
  font-family: serif;
  font-weight: 300;
  font-size: 40px;
}

.plan__input{
  margin-left: auto; 
margin-right: 0;
  width: 475px;
}

.plan__location{
  width: 475px;
  margin-bottom: 10px;
}

.plan__button{
  margin: 0 auto;
  align-items: center;
  margin-top: 30px;
  padding: 10px 10px;
  font-size: 15px;
  font-weight: 500;
  font-family: serif;
  background-color: #BCE0E9;
  border-radius: 10%;
  border-color: #BCE0E9;
  width: 120px;
}